*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body{
  background-color: black;
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-top: 80px;
}

.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* =========================
   NAVIGATION
   ========================= */
